

<div *ngIf="actor">
  <div >
    <div >
      <h5 >{{ actor.name }}</h5>
      <img
      
        [src]="getActorProfileUri(actor)"
        alt="Card image cap"
      />
      <div >
        <ul >
          <li *ngIf="actor.place_of_birth" >
            Place of birth: {{ actor.place_of_birth }}
          </li>
          <li *ngIf="actor.birthday" >
            Birthday: {{ actor.birthday }}
          </li>
          <li *ngIf="actor.deathday" >
            Died: {{ actor.deathday }}
          </li>
          <li *ngIf="age">
            Age: {{ age }}
          </li>
        </ul>

        <h5 >Biography</h5>
        <p class="card-text">
          {{ actor.biography }}
        </p>
        <button
  type="button"
  class="btn btn-secondary mt-2 mb-2 ml-2"
  (click)="goBack()"
>
  < Back
</button>
      </div>
    </div>
  </div>
  
</div>
