
<div *ngIf="movie">
  <div class="row justify-content-start">
    <div class="card mb-0 col-12 ">
      <h5 class="card-header text-center">{{ movie.title }}</h5>
      <img
        class="card-img-center"
        [src]="getImageUri(movie)"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-textt">
          {{ movie.overview }}
        </p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">
            <span *ngFor="let genre of movie.genres">
              {{ genre.name }}&nbsp;&nbsp;
            </span>
          </li>
          <li class="list-group-item">Released: {{ movie.release_date }}</li>
          <li class="list-group-item">
            Average vote: {{ movie.vote_average }}
          </li>
         
        </ul>
        <span>
        <button type="button" class="btn btn-outline-dark mt-2 mb-2" (click)="goBack()">
          Back
        </button>
        <button
  *ngIf="!isFavourite"
  type="button"
  class="btn btn-outline-info mt-2 mb-2 float-right"
  (click)="addToFavourites(movie)"
>
  Add to favourites
</button>
<button
  *ngIf="isFavourite"
  type="button"
  class="btn btn-info mt-2 mb-2 float-right"
  (click)="removeFromFavourites(movie)"
>
  Remove from favourites
</button></span>
      </div>
    </div>
  </div>
</div>
