
.card {
    padding: 0 !important;
    width: 55rem;
    border-radius: 50px;
    margin-top: 50px;
    
}

 .card-header{
    color: rgb(80, 109, 99);
    font-family: "Lobster", serif;
    font-size: 28px;
    background: rgb(150, 202, 198)
}
.card-img-center{
    width: 30rem;
    height: 36rem;
    margin-left: 28%;
    margin-top: 25px;
}