
<div *ngIf="movie">
  <div >
    <div >
      <h5 >{{ movie.title }}</h5>
      <img
     
        [src]="getImageUri(movie)"
        alt="Card image cap"
      />
      <div >
        <p >
          {{ movie.overview }}
        </p>
        <ul >
          <li >
            <span *ngFor="let genre of movie.genres">
              {{ genre.name }}&nbsp;&nbsp;
            </span>
          </li>
          <li >Released: {{ movie.release_date }}</li>
          <li >
            Average vote: {{ movie.vote_average }}
          </li>
         
        </ul>
        <span>
        <button type="button" class="btn btn-outline-light mt-2 mb-2" (click)="goBack()">
          Back
        </button>
        <button
  *ngIf="!isFavourite"
  type="button"
  class="btn btn-outline-info mt-2 mb-2 float-right"
  (click)="addToFavourites(movie)"
>
  Add to favourites
</button>
<button
  *ngIf="isFavourite"
  type="button"
  class="btn btn-info mt-2 mb-2 float-right"
  (click)="removeFromFavourites(movie)"
>
  Remove from favourites
</button></span>
      </div>
    </div>
  </div>
</div>
