
.navbar-brand .logo{
    width: 150px;
    height: 57px;
    margin-left: 300px;
}
.logo2{
    width:400px ;
    height:480px;
     margin-left: 40%;
     margin-top: -40px;
}

/*
.bgg{
    background: linear-gradient(rgb(193, 213, 214),rgb(48, 107, 134),rgb(6, 55, 83)); ;
    width: 1550px;
    height: 350px;
    margin-left: -200px;
    margin-top:110px;
    margin-bottom: 100px;
}

.container .bg{
    margin-top: 25px;
    background-repeat: no-repeat;
width: 103%;
height: 300px;
margin-right: 170px;
margin-left: -60px;
margin-bottom: 50px;
}

.net{
    width:240px ;
    height:180px;
    margin-left: -42%;
    margin-top: 160px;   
}
.net2{
    width:300px ;
    height:170px;
    margin-left: 33%;
    margin-top: 190px;   
}
.net3{
    width:401px ;
    height:170px;
    margin-left: 5%;
    margin-top: -750px;
  
}

.net4{
    width:401px ;
    height:170px;
    margin-left: 77%;
    margin-top: -770px;
  
}
*/