#add{
    font: outline;
    font-size: 28px;
    font-style: oblique double;
    font-weight: bold;
    color: beige;
}
.btn {
    font-size: 18px;
    padding-top: 25px;
    margin-left: 13px;
   
}
.col-12 {
    margin-top:40px;
    padding-top: 40px;
    margin-bottom: 53px;
}