

    input[type=search] {
        width: 530px;
        height: 30px;
       
        border: none !important;
        outline: none;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-size: 100%;
        line-height: 1.2em;
        color: #a09f9f;
        box-sizing: border-box;
        text-indent: 0;
        padding-left: 30px;
        padding-right: 30px;
    
    }
